body {
  width: 1000px;
  margin: 0 auto;
  font-family: Lato, sans-serif;
  background: url('/img/lgrey040.jpg') fixed;
}

h1 {
  padding: 14px 0;
  margin: 0;
  color: #34495e;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

#newPlan {
  float: left;
  width: 400px;
  margin-bottom: 50px;
}

#newPlanHeader {
  position: fixed;
  width: 400px;
  background: url('/img/lgrey040.jpg') fixed;
  z-index: 1000;
}

#bambooServerForm {
  position: fixed;
  z-index: 1000;
  background: url('/img/lgrey040.jpg') fixed;
  padding-bottom: 2px;
  top: 65px;
}

#newPlans {
  margin: 110px 0 5px 0;
}

#bambooServerUrl {
  border: 2px solid;
  padding: 10px;
  margin: 0;
  width: 275px;
  font-size: 15px;
}

#bambooServerUrlButton {
  color: #FFFFFF;
  width: 97px;
  height: 42px;
  font-size: 17px;
  border: none;
  padding: 0;
  margin: 0;
}

.extraInfo {
  display: none;
  width: 279px;
  font-size: 13px;
  padding: 10px;
}

#requestPlanError {
  background-color: #e74c3c;
}

#requestLoading {
  background-color: #1abc9c;
}

#urlInvalidation{
  background-color: #bdc3c7;
}

#savedPlans {
  position: fixed;
  right: 100px;
  width: 500px;
}

.project {
  background-color: #1abc9c;
  color: #34495e;
  font-size: 25px;
  padding: 15px 0 15px 15px;
}

.plan {
  position: relative;
  background-color: #34495e;
  color: #FFFFFF;
  font-size: 17px;
  padding: 5px 30px 5px 25px;
  border: 1px solid #333333;
}

.plan.saved {
  padding: 10px 0 10px 25px;
  color: #1abc9c;
  background-color: #2C3E50;
}

.plan a {
  color: #FFFFFF;
  text-decoration: none;
}

.plan a:hover {
  color: #1ABC9C;
}

.plan .deletePlan:hover {
  color: #1abc9c;
}

.plan span.save, 
.plan span.deletePlan {
  cursor: pointer;
  float: right;
}

.plan span.save {
  margin-right: 10px;
  display: none;
}

.plan.saved span.save {
  display: block;
}

.plan span.deletePlan {
  margin: 0;
}

.addPlan {
  cursor: pointer;
}

.addPlan:hover {
  color: #1abc9c;
}